<div *ngIf="!app.showProjects" class="container d-flex contenedor">
  <div id="title">
    <h1>{{project.title}}</h1>
  </div>
  <div>
    <iframe src="https://wokwi.com/projects/new/arduino-uno" frameborder="0" id="simulation"></iframe>
   <div id="info">
    <div id="materials">
      <h3>Materiales:</h3>
      <ul><li *ngFor="let material of project.materials">{{material}}</li></ul>
      <div *ngIf="project.steps != null">
        <h3>Pasos:</h3>
      <ul><li *ngFor="let step of project.steps" id="steps">{{step}}</li></ul>
      </div>
      <div *ngIf="project.codes != null">
        <h3>Código:</h3>
        <ul ><li *ngFor="let code of project.codes" id="steps">{{code}}</li></ul>
      </div>
      <div id="co" *ngIf="project.co != null">
        <pre *ngFor="let co of project.co">{{co}}</pre>
      </div>
      <div *ngIf="project.execution != null">
        <h3>Ejecución:</h3>
        <ul><li *ngFor="let eSteps of project.execution" id="steps">{{eSteps}}</li></ul>
      </div>
    </div>
    <video id="video" controls="" [src]="project.video"></video>
   </div>
  </div>

</div>

<div *ngIf="app.showProjects" class="container mt-5 margen d-flex">
  <div class="row">
    <div *ngFor="let project of projects"   class="col-md-4">
      <div class="card m-3 color">
        <img [src]="project.img" class="card-img-top img-size" height="80px">
      
        <div class="card-body card-text">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          <button class="btn btn-success green" (click)="setProjectIndex(project)"  data-bs-toggle="modal" data-bs-target="#ProjectModal">Más información</button>
        </div>
    </div>
  </div>
</div>

<div id="ProjectModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-color">
      <div class="modal-header">
        <h4 class="modal-title">{{project.title}}</h4>
      </div>
      <div class="modal-body">
        <img [src]="project.img" id="modalImg">
        <p>{{project.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success green" (click)="setProjectIndex(project); app.changeView()" data-bs-dismiss="modal">Ir</button>
        <button type="button" class="btn btn-default marco" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>