.color{
    background-color: #aea9a5;
    color: black;
}

.margen {
    margin-left: 22%;
}

.green {
    background-color: #488972;
    border: #1b342b 1px solid;
    transition: all 300ms;
    color: white;
}

.green:hover {
    background-color: #1b342b;
    border: white 1px solid;
}

.marco {
    border: #1b342b 1px solid;
    transition: all 300ms;
}

.marco:hover {
    background-color: rgb(214, 214, 214);
}

#modalImg {
    height: 300px;
    width: 465px;
    padding-bottom: 10px;
}

#iframe {
    width: 1300px;
    height: 500px;
    padding-top: 70px;
    margin-left: 40px;
    padding-bottom: 20px;
    position: relative;
}

#materials{
    width: 50%;
    top: 90%;
}

.contenedor {
    position: relative;
}

#steps {
    list-style-type: decimal;
}
