.color{
    background-color: #aea9a5;
    color: black;
}

.margen {
    margin-left: 22%;
}

.green {
    background-color: #488972;
    border: #1b342b 1px solid;
    transition: all 300ms;
}

.green:hover {
    background-color: #1b342b;
    border: white 1px solid;
}

@media (max-width: 1370) {

}