<div class="grid">
    <div class="card card-size card-cords0">
        <img src="../../../assets/Buzzerjpg.jpg" class="card-img-top img-size" alt="Protoboard con Buzzer">
      
        <div class="card-body card-text">
          <h5 class="card-title">Buzzer</h5>
          <p class="card-text">Proyecto para hacer funcionar un Buzzer y que emita sonido.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>
    
    <div class="card card-size card-cords1">
        <img src="../../../assets/semaforo.png" class="card-img-top img-size" alt="Protoboard con Semaforo">
      
        <div class="card-body card-text">
          <h5 class="card-title">Semaforo</h5>
          <p class="card-text">Proyecto que simula a un semaforo.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>

    <div class="card card-size card-cords1">
        <img src="../../../assets/led_chaser.png" class="card-img-top img-size" alt="Led Chaser">
      
        <div class="card-body card-text">
          <h5 class="card-title">Led Chaser Transistor</h5>
          <p class="card-text">Proyecto que enciende y apaga leds secuencialmente.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>
</div>
<br>
<div class="grid">
    <div class="card card-size card-cords0">
        <img src="../../../assets/Detector.jpg" class="card-img-top img-size" alt="Detector de nivel de agua">
      
        <div class="card-body card-text">
          <h5 class="card-title">Buzzer</h5>
          <p class="card-text">Proyecto para detectar el nivel de agua.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>
    
    <div class="card card-size card-cords1">
        <img src="../../../assets/police.PNG" class="card-img-top img-size" alt="Sirena de policia">
      
        <div class="card-body card-text">
          <h5 class="card-title">Sirena de Policia</h5>
          <p class="card-text">Proyecto que simula una sirena de policia.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>

    <div class="card card-size card-cords1">
        <img src="../../../assets/dado.jpg" class="card-img-top img-size" alt="Dado electronico">
      
        <div class="card-body card-text">
          <h5 class="card-title">Dado electronico</h5>
          <p class="card-text">Proyecto que simula la funcionalidad de un dado.</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
    </div>
</div>

