
<div class="sidebar">
    <nav class="navbar navbar bg sticky-left">
        <img src="../../../assets/imgs/card.png">
       <h1>ELECTROLEARN</h1>
       <br><br><br><br><br><br><br><br><br><br>
        <strong id="title">PAGINA PRINCIPAL</strong>
        <div class="linea"></div>
        <div id="title" class="op"><p>PROYECTOS</p></div>
        <div class="linea"></div>
        <div id="title" class="op"><p>EQ 1</p></div>
        <div class="linea"></div>
        <div id="title" class="op"><p>EQ 2</p></div>
        <div class="linea"></div>
    </nav>
</div>
