<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button (click)="app.mostrar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4>Electrolearn</h4>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar un proyecto" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>